<div class="feature-container">
    <div class="feature-inner-container">

        <div class="feature-item">
            <div class="badge">
                <img src="./../../assets/black-teal-badge.png">
                <div class="icon icon-desktop"></div>
            </div>
            <div class="feature">
                <div class="title">RESPONSIVE & MULTIPURPOSE</div>
                <div class="subtitle">Desktops, Tablets & Phones</div>
                <div class="description">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</div>
            </div>
        </div>

        <div class="feature-item">
            <div class="badge">
                <img src="./../../assets/teal-black-badge.png">
                <div class="icon icon-puzzle"></div>
            </div>
            <div class="feature">
                <div class="title">EASY CUSTOMIZATION</div>
                <div class="subtitle">One Click Demo Content Installation</div>
                <div class="description">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</div>
            </div>
        </div>

        <div class="feature-item">
            <div class="badge">
                <img src="./../../assets/black-teal-badge.png">
                <div class="icon icon-star"></div>
            </div>
            <div class="feature">
                <div class="title">UNLIMITED FEATURES</div>
                <div class="subtitle">Shortcodes, Typography & Different Layouts</div>
                <div class="description">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</div>
            </div>
        </div>
    </div>

    <div class="feature-inner-container">
        <div class="feature-item">
            <div class="badge">
                <img src="./../../assets/black-teal-badge.png">
                <div class="icon icon-doc"></div>
            </div>
            <div class="feature">
                <div class="title">CLEAN & MODULAR CODING</div>
                <div class="subtitle">100% Clean, Valid & Well-Commented Coding</div>
                <div class="description">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</div>
            </div>
        </div>

        <div class="feature-item">
            <div class="badge">
                <img src="./../../assets/black-teal-badge.png">
                <div class="icon icon-cart"></div>
            </div>
            <div class="feature">
                <div class="title">THE BEST E-COMMERCE SOLUTIONS</div>
                <div class="subtitle">WooCommerce Fully Integration</div>
                <div class="description">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</div>
            </div>
        </div>

        <div class="feature-item">
            <div class="badge">
                <img src="./../../assets/black-teal-badge.png">
                <div class="icon icon-lifesaver"></div>
            </div>
            <div class="feature">
                <div class="title">AWESOME FRIENDLY SUPPORT</div>
                <div class="subtitle">Free Lifetime Support & Updates</div>
                <div class="description">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</div>
            </div>
        </div>
    </div>


</div>