<div class="member-container">
    <div class="member-inner-container">

        <div class="member-item">
            <div class="img"></div>
            <div class="name">ALEXIS SIMPSON</div>
            <div class="position">CEO & Developer</div>
            <div class="email">
                <span class="icon-mail"></span>
                a.simpson@unique.com
            </div>
            <div class="phone">
                <span class="icon-phone"></span>
                +1 911 (77) 222-1111
            </div>
        </div>

        <div class="member-item">
            <div class="img"></div>
            <div class="name">ALEXIS SIMPSON</div>
            <div class="position">CEO & Developer</div>
            <div class="email">
                <span class="icon-mail"></span>
                a.simpson@unique.com
            </div>
            <div class="phone">
                <span class="icon-phone"></span>
                +1 911 (77) 222-1111
            </div>
        </div>

        <div class="member-item">
            <div class="img"></div>
            <div class="name">ALEXIS SIMPSON</div>
            <div class="position">CEO & Developer</div>
            <div class="email">
                <span class="icon-mail"></span>
                a.simpson@unique.com
            </div>
            <div class="phone">
                <span class="icon-phone"></span>
                +1 911 (77) 222-1111
            </div>
        </div>

        <div class="member-item">
            <div class="img"></div>
            <div class="name">ALEXIS SIMPSON</div>
            <div class="position">CEO & Developer</div>
            <div class="email">
                <span class="icon-mail"></span>
                a.simpson@unique.com
            </div>
            <div class="phone">
                <span class="icon-phone"></span>
                +1 911 (77) 222-1111
            </div>
        </div>

    </div>

    <div class="button-view-all">VIEW ALL WORKS</div>
</div>