<div class="member-container">
    <div class="member-inner-container">

        <div class="member-item">
            <div class="img"></div>
            <div class="name">ALEXIS SIMPSON</div>
            <div class="position">CEO & Developer</div>
            <div class="email">
                <span class="icon-mail"></span>
                a.simpson@unique.com
            </div>
            <div class="phone">
                <span class="icon-phone"></span>
                +1 911 (77) 222-1111
            </div>
        </div>

        <div class="member-item hover">
            <div class="img">
                <div class="diamond-container">
                    <div class="diamond"></div>
                    <div class="diamond"></div>
                    <div class="diamond"></div>
                    <div class="diamond"></div>
                    <div class="diamond"></div>    
                </div>
                <div class="social-icon-container">
                    <div class="fb-icon icon"></div>
                    <div class="twitter-icon icon"></div>
                    <div class="googleplus-icon icon"></div>
                    <div class="vimeo-icon icon"></div>
                    <div class="dribbble-icon icon"></div>              
                </div>
            </div>
            <div class="name">STEVEN COLE</div>
            <div class="position">User Interface Designer</div>
            <div class="email">
                <span class="icon-mail"></span>
                <span>s.cole@unique.com</span>
            </div>
            <div class="phone">
                <span class="icon-phone"></span>
                +1 911 (77) 222-1111
            </div>
        </div>

        <div class="member-item">
            <div class="img"></div>
            <div class="name">FRANK PIENER</div>
            <div class="position">Sales Manager</div>
            <div class="email">
                <span class="icon-mail"></span>
                f.piener@unique.com
            </div>
            <div class="phone">
                <span class="icon-phone"></span>
                +1 911 (77) 222-1111
            </div>
        </div>

        <div class="member-item">
            <div class="img"></div>
            <div class="name">ASHLEY LENNON</div>
            <div class="position">IT Specialist</div>
            <div class="email">
                <span class="icon-mail"></span>
                a.lennon@unique.com
            </div>
            <div class="phone">
                <span class="icon-phone"></span>
                +1 911 (77) 222-1111
            </div>
        </div>

    </div>

    <div class="button-view-all">VIEW ALL WORKS</div>
</div>