<div class="title-container">
    <div class="title-inner-container">

        <div class="double-border"></div>

        <div class="diamond-container">
            <div class="small-diamond"></div>
            <div class="medium-diamond"></div>
            <div class="big-diamond"></div>
        </div>

        <span class="offer-title-container">
            <span>WHAT WE </span>
            <span class="offer-title-color-word">OFFER</span>
        </span>

        <div class="diamond-container">
            <div class="big-diamond"></div>
            <div class="medium-diamond"></div>
            <div class="small-diamond"></div>
        </div>

        <div class="double-border"></div>


    </div>
</div>

<div class="subtitle">We offer our customers the best services & solutions, this is our main services list</div>

<div class="offer-container">
    <div class="offer-inner-container">
        <div class="item">
            <div class="pc-icon icon"></div>
            <div class="title">RESPONSIVE & MULTIPURPOSE</div>
            <div class="description">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla
                accumsan ornare quis.</div>
            <div class="button">READ MORE</div>
        </div>

        <div class="item">
            <div class="puzzle-icon icon"></div>
            <div class="title">EASY CUSTOMIZATION</div>
            <div class="description">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla
                accumsan ornare quis.</div>
            <div class="button">READ MORE</div>
        </div>

        <div class="item">
            <div class="lifesaver-icon icon"></div>
            <div class="title">AWESOME FRIENDLY SUPPORT</div>
            <div class="description">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla
                accumsan ornare quis.</div>
            <div class="button">READ MORE</div>
        </div>
    </div>
</div>