<div class="skill-container">
    <div class="title-container">
        <div class="title-inner-container">
    
            <div class="diamond-container">
                <div class="small-diamond"></div>
                <div class="medium-diamond"></div>
                <div class="big-diamond"></div>
            </div>
    
            <div class="skill-title-container">
                <span>OUR POWERFUL </span>
                <span class="skill-title-color-word">SKILLS</span>
            </div>
    
            <div class="diamond-container">
                <div class="big-diamond"></div>
                <div class="medium-diamond"></div>
                <div class="small-diamond"></div>
            </div>   
    
        </div>
    </div>
    
    <div class="subtitle">We’re good and experienced at different things and areas and we promise about qulity of our works</div>
    
    <div class="skill-item-container">
        <div class="skill-item-inner-container">
            <div class="skill-item">
                <circle-progress
                [percent]="75"
              ></circle-progress>
              <div class=skill-title>WEB DESIGN</div>
            </div>
    
            <div class="skill-item">
                <circle-progress
                [percent]="92"
              ></circle-progress>
              <div class=skill-title>WEB DEVELOPMENT</div>
            </div>
    
            <div class="skill-item">
                <circle-progress
                [percent]="68"
              ></circle-progress>
              <div class=skill-title>SPEED OPTIMIZATION</div>
            </div>
            <div class="skill-item">
                <circle-progress
                [percent]="100"
              ></circle-progress>
              <div class=skill-title>CUSTOMIZATION</div>
            </div>
            <div class="skill-item">
                <circle-progress
                [percent]="83"
              ></circle-progress>
              <div class=skill-title>MARKETING</div>
            </div>
            <div class="skill-item">
                <circle-progress
                [percent]="50"
              ></circle-progress>
              <div class=skill-title>ADVERTISEMENT</div>
            </div>
        </div>
    </div>

</div>
