<!-- Home banner -->
<div class="background">
  <div class="container-width">
    <div class="banner-container">
        <p class="first-line">WHAT ARE YOU WAITING FOR ?</p>
        <p class="second-line">LET'S BE CREATIVE !</p>
        <div class="third-line">
          <p>LOREM IPSUM DOLOR SI AMET</p>
        </div>
        <div class="banner-feature">
          <span class="banner-feature-color-word">START</span>
          <span> DOING THAT</span>
        </div>
    </div>
  </div>
</div>

<!-- Top menu -->
<div></div>

<!-- Content -->
<router-outlet></router-outlet>

<!-- Interest form -->
<div></div>

<!-- Feedback -->
<div></div>

<!-- Clients -->
<div></div>