<!-- Home banner -->
<div class="background">
  <div class="container-width">
    <div class="banner-container">
        <p class="first-line">WHAT ARE YOU WAITING FOR ?</p>
        <p class="second-line">LET'S BE CREATIVE !</p>
        <div class="third-line">
          <p>LOREM IPSUM DOLOR SI AMET</p>
        </div>
        <div class="banner-feature">
          <div class="double-border"></div>
          
          <div class="diamond-container">
            <div class="small-diamond"></div>
            <div class="medium-diamond"></div>
            <div class="big-diamond"></div>
          </div>

          <span class="banner-feature-title-container">
            <span class="banner-feature-color-word">START</span>
            <span> DOING THAT</span>
          </span>

          <div class="diamond-container">
            <div class="big-diamond"></div>
            <div class="medium-diamond"></div>
            <div class="small-diamond"></div>
          </div>

          <div class="double-border"></div>
        </div>
        <div class="arrow-down-circle" (click)="scrollTo(target)"></div>
    </div>
  </div>
</div>

<!-- Top menu -->
<div #target class="navbar">
  <div class="container-width">
    <img class="brand-logo" src="assets/logo.png">

    <div class="navbar-mobile">
      <a id="nav-toggle" href="#!" (click)="toggleNav()" [class.active]="isMobile"><span></span></a>  
    </div>
    
    <div class="menu" [class.active]="isMobile">
      <a href="">HOME</a>
      <a class="active" href="">PORTFOLIO</a>
      <a href="">BLOG</a>
      <a href="">PAGES</a>
      <a href="">FEATURES</a>
      <a href="">MEGA MENU</a>
      <a href="">CONTACT</a>
      <span class="search"></span>
    </div>  

  </div>
</div>

<!-- Content -->
<app-offer></app-offer>
<app-skill></app-skill>
<app-feature></app-feature>
<app-member></app-member>

<!-- Interest form -->
<app-interest></app-interest>

<!-- Feedback -->
<div class="feedback-container">
  <div class="feedback-inner-container">
    <div class="feedback-owner">
      <span class="name">ALEXIS SIMPSON</span>
      <span class="position"> - CEO & Developer</span>
    </div>
    <div class="content">
      "Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis."
    </div>

    <div class="nav-button">
      <span class="icon-triangle-left icon"></span>
      <span class="icon-triangle-right icon"></span>
    </div>
  </div>
</div>

<!-- Clients -->
<div class="client-container">
  <div class="client-inner-container">
    <span class="icon-triangle-left icon"></span>
    <div class="client-item-container">
      <div class="client-item">
        <img src="assets/client_1.png">
      </div>

      <div class="client-item highlight">
        <img src="assets/client_2.png">
      </div>

      <div class="client-item">
        <img src="assets/client_1.png">
      </div>

      <div class="client-item">
        <img src="assets/client_1.png">
      </div>
    </div>
    <span class="icon-triangle-right icon"></span>
  </div>
</div>

<!-- Footer -->
<Footer>
  <div class="footer-container">
    Copyright © 2017 APD Digital Services Sdn Bhd, All Rights Reserved.
  </div>
</Footer>