/* You can add global styles to this file, and also import other style files */
@use './styles/fonts' as fonts;
@use './styles/colors' as colors;
@use './styles/variables' as variables;
@import './../node_modules/elegant-icons-sass/scss/elegant-icons-sass.scss';

html {
     font-size: calc(1em + 1vw)
}

body {
    margin: 0px;
    font-family: fonts.$raleway;
}

.background {
    width: 100%;
    height: 700px;
    background-image: url("./assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: variables.$breakpoint-tablet) {
    .container-width {
        justify-content: center;
    }
}

@media screen and (min-width: variables.$breakpoint-tablet + 1) {
    .container-width {
        justify-content: space-between;
    }    
}

.container-width {
    width: 1200px;
    height: 100%;
    display: flex;    
    align-items: center;
}

.banner-container {
    color: colors.$color-black;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 0px;
    }

    .first-line {  
        font-weight: fonts.$medium;
        font-size: medium;      
    }

    .second-line {
        font-weight: fonts.$extra-bold;
        font-size: 2em;
    }

    .third-line {
        width: 100%;
        background-color: colors.$color-black;
        color: colors.$color-white;
        font-family: fonts.$hind-guntur;
        font-style: italic;
        border-radius: 4px;

        p {
            padding: 0.2em 0.5em 0em 0.5em;
            font-size: medium;
        }
    }

    .banner-feature {
        font-size: x-large;
        font-weight: fonts.$extra-bold;
        margin: 2em 0em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .banner-feature-color-word {
            color: colors.$color-teal;
        }
    }

    .arrow-down-circle {
        @include elegant-icon('arrow_carrot-down_alt2');
        color: colors.$color-teal;
        text-align: center;        
        font-size: 2em;
    }
}

.double-border {
    border-top: 4px double colors.$color-white;
    width: calc(100% - 22em);
}

.diamond-container {
    display: flex;
    align-items: center;
}

.big-diamond {        
    transform: rotate(-45deg);
    width: 0.5em;            
    height: 0.5em;                                  
    background: colors.$color-teal;
    border-radius: 2px;        
}

.medium-diamond {        
    transform: rotate(-45deg);
    width: 0.4em;            
    height: 0.4em;        
    background: colors.$color-teal;
    border-radius: 2px;        
    opacity: 0.7;
}

.small-diamond {        
    transform: rotate(-45deg);
    width: 0.3em;            
    height: 0.3em;        
    background: colors.$color-teal;
    border-radius: 2px;        
    opacity: 0.4;
}

.navbar {
    background-color: colors.$nav-background;
    height: variables.$navbar-height;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dedede;

    img {
        width: 1.5em;
        height: auto;
    }

    .menu {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            font-weight: fonts.$extra-bold;
            color: colors.$color-grey;
            font-size: small;
            padding: 1.0em 1.5em;
    
            &:active {
                color: colors.$color-white;
              }
        }
    
        a.active {
            color: colors.$color-white;
            background-color: colors.$color-teal;
            border-radius: 5px;
        }
    }

    .search {
        @include elegant-icon('icon_search');
        font-size: small;
        color: colors.$color-teal;
    }

    .navbar-mobile {
        display: none;
        position: absolute;
        top: 700px;
        right: 0;
        background: colors.$nav-background;
        height: variables.$navbar-height;
        width: variables.$navbar-height;

        #nav-toggle {
            position: absolute;
            left: calc((100px - 28.28px) / 2);
            top: calc((100px - 28.28px) / 2);
            cursor: pointer;
            padding: 10px 35px 16px 0px;
            span,
            span:before,
            span:after {
              cursor: pointer;
              border-radius: 1px;
              height: 5px;
              width: 35px;
              background: colors.$color-grey;
              position: absolute;
              display: block;
              content: '';
              transition: all 300ms ease-in-out;
            }
            span:before {
              top: -10px;
            }
            span:after {
              bottom: -10px;
            }
            &.active span {
              background-color: transparent;
              &:before,
              &:after {
                top: 0;
              }
              &:before {
                transform: rotate(45deg);
              }
              &:after {
                transform: rotate(-45deg);
              }
            }
          }
    }

    @media only screen and (max-width: variables.$breakpoint-tablet + 1) {
        // navbar mobile styling
        .brand-logo {
            width: 2.2em;
            position: absolute;
            left: calc((100px - 28.28px) / 2);
        }

        .navbar-mobile {
            display: block;
        }

        .menu {
            display: none;
        }

        .menu.active {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 800px;
            width: 100%;    
            align-items: stretch;       
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
            background-color: #f9f9f9;         
            
            a {
                padding-left: calc((100px - 28.28px) / 2);
                border-radius: 0px;
            }

            span.search {
                padding-left: calc((100px - 28.28px) / 2);
            }
        }
      }
}

